.post {
  margin-bottom: 30px;
  max-width: 800px;
  border-bottom: 1px solid #666;

  p {
    padding: 10px;
  }
}
#pagination_marker {
  width: 33px;
  height: 33px;
  background-image:image-url('loading.gif');
  background-repeat: no-repeat;
}
